name: Java SDK Publish

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
    secrets:
      CENTRAL_USERNAME:
        required: true
      CENTRAL_PASSWORD:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true

defaults:
  run:
    working-directory: java

jobs:
  publish:
    name: Publish to Maven Central
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'
          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Update version in pom.xml
        run: mvn versions:set -DnewVersion=${{ inputs.version }} -DgenerateBackupPoms=false

      - name: Build with Maven
        run: mvn -B compile

      - name: Run tests
        run: mvn -B test

      - name: Publish to Maven Central
        run: mvn -B deploy -Prelease -DskipTests
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
